<form action="{{ app_path }}" method="post">{% csrf_token %}
{% for error in form.non_field_errors %}
  <p class="text-error">{{ error }}</p>
{% endfor %}
  <fieldset>
    <div class="control-group{% if form.username.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          {{ form.username }}
        </div>
{% for error in form.username.errors %}
        <span class="help-block">{{ error }}</span>
{% endfor %}
      </div>
    </div>
    <div class="control-group{% if form.password.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-key"></i></span>
          {{ form.password }}
        </div>
{% for error in form.password.errors %}
        <span class="help-block">{{ error }}</span>
{% endfor %}
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-large btn-primary">Log in</button>
    </div>
    <div class="alert alert-block alert-no-padding">
      <h4><i class="icon-warning-sign"></i> Security warning</h4>
      <p class="no-margin-bottom">Always check the address bar when logging in to Casia. Do not trust other sites with your password!</p>
    </div>
  </fieldset>
</form>