{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Forbidden <span class="muted">(403)</span></h1>
<p class="lead">You have no permission to perform this action</p>
<!--                                                                            
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                             -->
{% endblock %}
