{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Not found <span class="muted">(404)</span></h1>
<p class="lead">The requested URL {{ request_path }} was not found on this server</p>
<!--                                                                            
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                             -->
{% endblock %}
