<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Internal error | Casia</title>
<style>
body{background:#004d73;color:#fff;font-family:sans-serif}
#page{width:780px;margin:auto}
h1{font-size:3em}
p{font-size:1.25em}
.lead{font-weight: bold}
</style>
</head>
<body>
<div id="page">
<h1>Something went wrong :(</h1>
<p class="lead">Casia was unable to process your request due to internal error</p>
<p>Please try again later. If problems persist, contact your administrator.</p>
</div>
</body>
</html>
<!--                                                                            
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                             -->
