.center {
  text-align: center;
}

body {
  padding-top: 60px;
  background-image: url(../img/grid.png);
  background-repeat: repeat-x;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.alert-no-padding {
  padding-right: 14px;
}

.table-profile th {
  text-align: right;
  width: 50%;
}

.table-profile td {
  text-align: left;
  width: 50%;
}

.table-profile td ul, .table-profile td ol {
  margin-bottom: 0px;
}
